.body{
    background-image:url(https://t3.ftcdn.net/jpg/04/12/82/16/240_F_412821610_95RpjzPXCE2LiWGVShIUCGJSktkJQh6P.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.content{
    display: grid;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.text_content{
    text-align: center;
}

.button_content{
    border-radius: 10% / 50%;
    box-shadow: 20px solid;
    background-color: rebeccapurple;
    height: 50px;
    width: 200px;
}

.border_s{
    border: 1px solid blue;
    margin-top: 40px;
}

.genres{
    margin: 40px;
}

.forLink{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 21px;
    margin: 20px 0 20px 20px;
    padding-bottom: 20px;
}