.body{
    background-image:url(https://t3.ftcdn.net/jpg/04/12/82/16/240_F_412821610_95RpjzPXCE2LiWGVShIUCGJSktkJQh6P.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.content{
    display: grid;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.scrol{
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.text_content{
    text-align: center;
}

.button_content{
    border-radius: 10% / 50%;
    box-shadow: 20px solid;
    background-color: rebeccapurple;
    height: 50px;
    width: 200px;
}

.border_s{
    border: 1px solid blue;
    margin-top: 40px;
}

.genres{
    margin: 40px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
    color: #252525;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.finish .finish_header {
    color: #fff;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    margin-top: 17px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}
.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    color: #4a4a4a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.forLink{
    text-decoration: none;
    color:black;
    font-size: 24px;
    padding: 20px 0 10px 22px;
    font-weight: 600;
    margin-top: 10px;
}