@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.forOrder{
    font-family: 'Roboto Slab', serif;
    font-size: 600;
}
.forDesc{
    font-family: 'Roboto Slab', serif;
    font-size: 400;
}